.box {
  /* padding-bottom: 0.5em; */
  width: 5em;
  height: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commonContainer {
  width: 5em;
  position: relative;
  cursor: pointer;
}

.commonContainer::before,
.commonContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 230%;
  background-color: blueviolet;
}

.commonContainer::before {
  transform: translateX(4.8px) translateY(6px) rotate(-73deg);
  transform-origin: top left;
}

.commonContainer::after {
  transform: translateX(4.7em) translateY(2px) rotate(73deg);
  transform-origin: top left;
}

.markedContainer {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* font-weight: bold; */
  z-index: 1;
}
.markedContainer span {
  font-size: 2em;
  z-index: 2;
}
