.boxContainer{
  display: flex;
  flex-direction: column;
}

.box {
  /* padding-bottom: 0.5em; */
  width: 5em;
  height: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: clamp(5em, 5em, 10em);
  height: clamp(1em, 1em, 1em); */
  /* width: auto; */
  /* height: 50%; */
}

.commonContainer {
  width: 5em;
  position: relative;
  cursor: pointer;
}

.commonContainer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  height: 0.2em;
  background-color: blueviolet;
}

.markedContainer {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* font-weight: bold; */
  z-index: 1;
}
.markedContainer span {
  font-size: 2em;
  z-index: 2;
}
