.outerContainer {
  /* background-color: lightblue; */
  font-family: Arial, sans-serif;
  /* font-family: "Creepster", cursive; */
  /* justify-content: space-around; */
  /* width: 100vw; */
  /* align-items: center; */
  /* display:block; */
}

.header {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.gridContainer {
  display: inline-block;
  margin: 10px;
  /* background-color: #e0e0e0; */

  /* margin-left: 10px;
  margin-right: 10px; */
}

.weaponGrid {
  border: 2px solid hsl(0, 0%, 80%);
  margin: 5px;
}
.weaponHeader {
  font-weight: bold;
  justify-self: center;
  margin: 2px;
  font-family: "Creepster", cursive;
}

.countRow {
  display: flex;
  border-top: 2px solid hsl(0, 0%, 20%);
}
.countHeader {
  text-align: center;
  align-self: center;
  font-size: 0.5em;
  min-width: 5em;
}

.buttonContainer {
  /* background-color: gray; */
  display: flex;
  margin-bottom: 4px;
  margin-left: 10px;
  margin-right: 10px;
}
.topBtn {
  /* color: white; */
  flex: 1;
  margin: 2px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.topBtnL,
.topBtnR {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  /* border: 1px solid black; */
  padding: 4px;
  flex: 1;
  cursor: pointer;
}

.topBtnL {
  border-radius: 4px 0px 0px 4px;
  border-right: 1px solid rgb(0, 0, 0);
}
.topBtnR {
  border-radius: 0px 4px 4px 0px;
  border-left: 1px solid rgb(0, 0, 0);
}

.btnGrayBg {
  background-color: #ffcc00;
  color: black;
}

.btnGrayBg:hover {
  background-color: hsla(48, 100%, 40%, 0.8);
  color: black;
}

.btnGreenBg {
  background-color: hsl(140, 70%, 30%);
}
.btnGreenBg:hover {
  background-color: hsl(140, 70%, 35%);
}

.lowerBtn {
  background-color: #ffcc00;
  color: black;
  flex: 1;
  margin: 2px;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  flex-direction: row;
  font-family: "Creepster", cursive;
}
.lowerBtn:hover {
  background-color: hsla(48, 100%, 40%, 0.8);
  cursor: pointer;
}
