.outerContainer {
  font-family: Arial, sans-serif;
  display: inline-block;
  /* background-color: lightblue; */
  padding-right: 5px;
}

.header {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
