.boxContainer {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.box {
  /* padding-bottom: 0.5em; */
  width: 8em;
  height: 1.4em;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.commonContainer {
  position: relative;
  cursor: pointer;
  width: 8em;
}

.commonContainer::before,
.commonContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 270%;
  background-color: blueviolet;
}

.commonContainer::before {
  transform: translateX(5px) translateY(6px) rotate(-73deg);
  transform-origin: top left;
}

.commonContainer::after {
  transform: translateX(7.5em) translateY(2px) rotate(73deg);
  transform-origin: top left;
}

.markedContainer {
  width: 8em;
  height: 2.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
