.infobar {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #555;
  color: white;
  /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  z-index: 1000;
}

.contentContainer {
  height: calc(100vh - 100px);
  /* width: 100vw; */
  /* overflow-x: hidden; */
  overflow-y: scroll;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.contentContainer::-webkit-scrollbar {
  display: none;
}

.contentContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cardRow {
  background-color: blanchedalmond;
}

.cards {
  transform: scale(0.6);
  display: inline-block;
  overflow: hidden;
}

.clickable {
  cursor: pointer;
  transition: transform 0.5s ease;
}
.clickable:hover {
  transform: scale(0.8);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: radial-gradient(circle, #686363 0%, #121212 100%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* width: 300px; */
  text-align: center;
}

.modalContent h2 {
  margin: 0;
  /* margin-bottom: 15px; */
}

.modalBtnRow {
  display: flex;
  margin-top: 10px;
}

.modalBtn {
  flex: 1;
  cursor: pointer;
  background-color: hsl(0, 0%, 80%);
  border-radius: 5px;
  margin: 2px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  /* justify-content: space-around;
  align-items: center; */
  /* padding: 10px 0; */
  z-index: 10;
}

.navButton {
  flex: 1;
  background-color: #555;
  color: white;
  border: none;
  /* padding: 10px 20px; */
  /* border-radius: 5px; */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: #777;
}

.navButtonActive {
  background-color: #777;
  /* background-color: #999; */
}
