.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 120px;
  /* width: 300px; */
  height: 180px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  position: relative;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: relative;
}

.iconRow {
  border-radius: 15px;
  font-size: 1.4em;
  text-shadow: 2px 2px 6px hsla(0, 0%, 0%, 0.8);
  margin: 2px;
  /* background-color: hsla(0, 0%, 75%, 0.6); */
  /* box-shadow: 2px 2px 10px hsla(0, 0%, 0%, 0.8); */
}

.freeIcon {
  font-size: 6em;
  text-shadow: 2px 2px 6px hsla(0, 0%, 0%, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0.1;
}

.header {
  font-size: 1.5em;
}
.footer {
  text-align: center;
  z-index: 10;
  color: black;
}
